<div id='backdrop'>
  <div class='banner'>
    <div class='hero-text'>
      <p class='first-line'>How to be happy in life?</p>
      <p class='second-line'>Building great relationships leads to an amazing life!</p>
    </div>
  </div>
  <div id='overlay'>
    <section class='second-box'>
      <h2  class='titles text-center'>Are you facing relationship problems?</h2>
      <div class='problems'>
        <div class='problem-box'>
          <h6 class='numbers'>01.</h6>
          <h4 class='problem-titles'>Couple Problems</h4>
          <p class='description'>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <%= link_to "Let's talk", contact_path, class:'links' %>
        </div>
        <div class='problem-box'>
          <h6 class='numbers'>02.</h6>
          <h4 class='problem-titles'>Parent-Child Problems</h4>
          <p class='description'>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <%= link_to "Let's talk", contact_path, class:'links' %>
        </div>
        <div class='problem-box'>
          <h6 class='numbers'>03.</h6>
          <h4 class='problem-titles'>Commitment Issues</h4>
          <p class='description'>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <%= link_to "Let's talk", contact_path, class:'links' %>
        </div>
        <div class='problem-box'>
          <h6 class='numbers'>04.</h6>
          <h4 class='problem-titles'>Family Issues</h4>
          <p class='description'>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <%= link_to "Let's talk", contact_path, class:'links' %>
        </div>
      </div>
    </section>
    <div class='divider-element'></div>
    <section class='solutions'>
      <h2 class='titles text-center'>How can I help you be happier?</h2>
        <div class='solution-container'>
          <div class='solution-box'></div>
          <div class='solution-box'></div>
          <div class='solution-box'></div>
        </div>
    </section>
    <div class='divider-element'></div>
    <section>
      <div class='transparent-box'>
        <div id='transparent-box-text'>
          <h3>An amazing relationship leads to ut labore et dolore magnam etiam.</h3>
          <h6>Susan Hum</h6>
        </div>
        <div id='worker'>
          <%= image_tag('worker.png', :class => 'worker-img') %>
        </div>
        <div id='about'>
          <h3>About Me</h3>
          <h6>I’m an NLP Certified Relationship Coach eius modi tempora incidunt.</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <%= link_to 'Read More', about_path, class:'btn about-link' %>
        </div>
      </div>
    </section>
    <section id='clients'>
      <h4>Happy Clients</h4>
      <div class='solution-container'>
          <div class='solution-box'></div>
          <div class='solution-box'></div>
          <div class='solution-box'></div>
        </div>
    </section>
  </div>
</div>
